@using Manager.WebApp.Resources
@using Manager.WebApp.Models

@model Manager.WebApp.Models.UserViewModel

<div class="modal-header">
    <h5 class="modal-title" id="">
        @ManagerResource.LB_CONFIRM_RESET_PWD
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserInfoViewModel.Id)

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            @ManagerResource.LB_NO
        </button>
        <button type="submit" class="btn btn-info">
            @ManagerResource.LB_YES
        </button>
    </div>
}