@using Manager.WebApp.Resources
@model Manager.WebApp.Models.ProjectCreateModel

@*@{
        ViewBag.Title = ManagerResource.LB_ADDNEW;
    }*@

@Html.Partial("_Notifications")

<div class="row">
    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-plus text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_ADDNEW
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.Code, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(m => m.ProjectCategoryId, "Project Category", new { @class = "form-control-label" })
                            <select name="@Html.NameFor(m => m.ProjectCategoryId)" id="@Html.IdFor(m=>m.ProjectCategoryId)" class="form-control selectpicker btn-white" data-live-search="true">
                                <option value="0">--- Chọn Project Category ---</option>
                                @if (Model.ProjectCategorys.HasData())
                                {
                                    foreach (var item in Model.ProjectCategorys)
                                    {
                                        var chkItem = item.Id;
                                        var chkStr = string.Empty;
                                        if (chkItem == Model.ProjectCategoryId)
                                        {
                                            chkStr = "selected";
                                        }
                                        <option value="@chkItem" @chkStr>@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.CompanyId, "Company", new { @class = "form-control-label" })
                            <select name="@Html.NameFor(m => m.CompanyId)" id="@Html.IdFor(m=>m.CompanyId)" class="form-control selectpicker btn-white" data-live-search="true">
                                <option value="0">--- Chọn Company ---</option>
                                @if (Model.Companys.HasData())
                                {
                                    foreach (var item in Model.Companys)
                                    {
                                        var chkItem = item.Id;
                                        var chkStr = string.Empty;
                                        if (chkItem == Model.CompanyId)
                                        {
                                            chkStr = "selected";
                                        }
                                        <option value="@chkItem" @chkStr>@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.ShortDescription, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Detail, new { @class = "form-control-label" })
                            @Html.TextBoxFor(m => m.Detail, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.Detail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-md-2 m-form__group--inline">
                            @Html.LabelFor(m => m.BeginDate, new { @class = "form-control-label" })
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.BeginDate, new { @class = "form-control m-input datepicker-input", autocomplete = "off" })
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 m-form__group--inline">
                            @Html.LabelFor(m => m.FinishDate, new { @class = "form-control-label" })
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.FinishDate, new { @class = "form-control m-input datepicker-input", autocomplete = "off" })
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.Status, new { @class = "form-control-label" })
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                    <input name="@Html.NameFor(m => m.Status)" @((Model.Status == 1) ? "checked" : null) value="1" type="checkbox">
                                    @ManagerResource.LB_ACTIVE
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-danger" href="@Url.Action("Index", "Project")"><i class="la la-backward"></i> @ManagerResource.LB_GOBACK</a>
                                <button type="submit" class="btn btn-info">
                                    @ManagerResource.LB_SAVE
                                </button>
                            </div>
                            <div class="col-md-6 m--align-right">
                                <button type="reset" class="btn btn-danger">
                                    @ManagerResource.LB_RESET
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginStyles
{

}

@*@section PagePluginScripts
 {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        InitNumberFormat();
    </script>
}*@

@section PageInlineScripts{
    <script type="text/javascript">
        var BootstrapDatepicker = {
            init: function () {
                $(".datepicker-input").datepicker({           
                    todayBtn: "linked",
                    clearBtn: !0,
                    todayHighlight: !0,
                    format: 'dd/mm/yyyy',
                    templates: {
                        leftArrow: '<i class="la la-angle-left"></i>',
                        rightArrow: '<i class="la la-angle-right"></i>'
                    }
                })
            }
        };
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
    </script>
}


